@keyframes filling {
  from {
    background-position: center 25%;
  }

  to {
    background-position: center 50%;
  }
}

.container-text {
  background-image: url(https://cdn.pixabay.com/photo/2016/11/29/04/19/beach-1867285_960_720.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: #fff;
  padding-top: 20px;
  font-size: 170px;
  font-family: "Impact", sans-serif;
  animation: filling 3s ease forwards;
}
